.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/*
!.quartz/plugins/
.quartz/plugins/*
!.quartz/plugins/graph/
!.quartz/plugins/explorer/
.quartz/plugins/graph/*
!.quartz/plugins/graph/dist/
!.quartz/plugins/graph/package.json
.quartz/plugins/explorer/*
!.quartz/plugins/explorer/dist/
!.quartz/plugins/explorer/package.json
quartz/cli/tui/dist/
